.home-header {
  text-align: center;
}

.home-header h2 {
  color: white;
  font-size: 2rem;
  text-align: left;
  text-decoration: underline ;
}

.home-header h3{
  text-align: right;
  color: rgb(241, 243, 237);
}
.home-header h1 {
  font-size: 3rem;
  color: #f7f6f1;
  margin-bottom: 1rem;
}

.home-header h1 span {
  color: #b0c4de;
}

.home-header p {
  color: #a9a9a9;
  font-weight: 500;
}
